:local(.friendsListItem) {
  list-style: none;
  padding: 20px 10px 20px 20px;
  background-color: white;
  border-bottom: 1px solid #E3E3E3;
  display: flex;
}

:local(.friendInfos) {
  flex: 1 0 auto;
}

:local(.friendInfos span) {
  font-weight: bold;
}

:local(.friendActions) {
  flex: 0 0 90px;
}

btnAction, :local(.btnAction), :local(.btnAction):active, :local(.btnAction):focus, :local(.btnAction):hover {
  width: 50px;
  height: 20px;
  margin-right: 5px;
  color: #5C75B0;
  border: 0px;
  border-radius: 4px;
}

:local(.btnStar) {
  composes: btnAction;
  background-color: #f4f47a;
}

:local(.btnTrash) {
  composes: btnAction;
  background-color: #e83a6f;
}

button:focus {
  outline: 0 !important;
}
